body {
  background-color: hsl(47, 27%, 94%);
  padding: 20px;
  margin: 0;
}
h2, p, ul, li {
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
  text-align: center;

}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  text-align: center;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  text-align: center;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}

.footer{

  position: absolute;
  bottom:0;
  width: 100%;
  font:20;
  font-family: sans-serif;
  text-align: center;
}